.swiper-button-next {
  color: #1e65f3;
}

.swiper-button-next::after {
  font-size: 30px;
}

.swiper-button-prev {
  color: #1e65f3;
}

.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-slide {
  height: 4rem;
}
