.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  /* Gradient background */
  background: rgb(62, 61, 72);
  background: linear-gradient(345.55deg, #161a25 4.75%, #161822 100.57%);
  /* margin: auto; */
}

.Toast {
  position: relative;
  width: 360px;
  height: 600px;
  pointer-events: none;
}

.init {
  background: radial-gradient(
    circle at right 50% bottom 50%,
    rgba(62, 61, 72, 1) 0%,
    rgba(22, 26, 37, 1) 70%
  ) !important;
}

@media (min-height: 768px) {
  .App {
    height: 600px !important;
    margin: auto;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4c4c4d #080808;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4c4c4d;
  border-radius: 20px;
  border: 1px solid #080808;
}

body {
  width: 360px !important;
  height: 600px !important;
  overflow: hidden;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;

  margin: 0;

  /* center */
}

@media (min-height: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto !important;

    height: 100% !important;
  }

  html {
    height: 100% !important;
  }
}

/* style html */
html {
  /* height: 100% !important; */

  background-image: radial-gradient(
    circle,
    rgba(65, 70, 79, 1) 2%,
    rgba(22, 24, 34, 1) 60%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
